:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1280px;
  margin: 0 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: black;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  width: 100%;
  font-weight: bold;
  padding: 1em 0em;
  border-bottom: black solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h3:hover {
  opacity: 50%;
  transition: all;
}

.card {
  background: #d1d1d9;
  border-radius: 0.5em;
}

.card:hover {
  background: #e9e9eb;
}

.card:hover .card-img {
  transition: all 0.2s linear;
  transform: scale(0.9);
  border-radius: 0.5em;
}

.card img {
  border-radius: 0.5em 0.5em 0em 0em;
  width: 100%;
}

.title {
  padding: 2em;
}

.card .date {
  opacity: 60%;
  font-size: 0.8em;
}

.card .author {
  opacity: 60%;
  font-size: 0.8rem;
}

.blogs {
  padding: 2em 0em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}
